/*Colors Used:
Background (White) #ffffff
Text (Dark Grey) #252525
Primary Color (Blue) #1f4a84
Secondary Color (Navy Blue) #071c38
Accent Color 1 (Lime Green) #b0d126
Accent Color 2 (Moss Green) #44520b
Accent Color 3 (Clay Red) #913a30
*/
body {
    font-family: 'Crimson Pro', serif;
    font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #252525
}
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
img{
    width: 100%;
}
a {
    color: #1f4a84;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #071c38;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #44520b;
  }
  a:active { /* selected link */
    color: #913a30;
  }
  .button {
    display: inline-block; 
    background-color: #1f4a84;
    color: #ffffff !important; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1f4a84; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
   .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
      }
      .button:active {
        background-color: #44520b;
        text-decoration: none;
          }
          .button.contact {
            background-color: transparent;
            color: #1f4a84 !important;
            text-transform: uppercase;
            border: 2px solid #1f4a84;
            margin: 15px 0;
          }
          .button.contact:hover {
            background-color: #1f4a84;
            color: #ffffff !important;
          }
                /*Layout Styling*/
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.68);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.68);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.68);
position: fixed;
}
main{
  padding-top: 133px;
}
.container {
  padding: 0 15px;
}
img.logo {
  width: 65px;
  height: 75px;
  margin: 15px 0 0 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width: 100%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #252525
}
nav > ul > li > a:visited {
  color: #44520b;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
nav > ul > li > a:active {
  text-decoration-line: line-through;
}
#hero h1 {
  text-align: center;
  margin: 0;
  padding: .67em 0;
}
#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.row {
  margin: 25px 0;
}
footer{
  text-align: center
}
.social.media {
  display: inline-block;
}
#aboutme h1 {
  text-align: center;
  margin: 0;
  padding: .67em 0;
}
#aboutme {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#inktank h1 {
  text-align: center;
  margin: 0;
  padding: .67em 0;
}
#inktank {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}